h1 {
    font-weight: bold;
    font-size: 3em;
}
h2 {
    font-weight: bold;
    font-size: 2em;
}
body {
    text-align: center;
    background-color: #6495ed;
}
.boldl {
    font-weight: bold;
    text-decoration: underline;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
